[package]
authors = ["Erik Johnston <erikj@matrix.org>"]
name = "matrix-ircd"
version = "0.1.0"
edition = "2018"

[dependencies]
clap = "2.32.0"
futures = "0.1.25"
futures3 = {version="0.3.5", package="futures", features=["compat"]}
httparse = "1.3.3"
lazy_static = "1.2.0"
native-tls = "0.2.2"
netbuf = "0.4.1"
pest = "0.4.0"
quick-error = "1.2.2"
rand = "0.3.14"
regex = "1.1.0"
serde = "1.0.87"
serde_derive = "1.0.87"
serde_json = "1.0.38"
slog = "2.4.1"
slog-async = "2.3.0"
slog-term = "2.4.0"
tokio-core = "0.1.0"
tokio-dns-unofficial = "0.1.0"
tokio-io = "0.1.3"
tokio-proto = "0.1.0"
tokio-tls = "0.2.0"
url = "1.7.2"

[dependencies.openssl]
version = "0.10.0"

[dependencies.tasked-futures]
git = "https://github.com/erikjohnston/tasked-futures.git"
optional = false

[dependencies.tokio-timer]
git = "https://github.com/tokio-rs/tokio-timer"

[features]
clippy = []
default = []
trace_logging = [
    "slog/max_level_trace",
    "slog/release_max_level_warn",
]
