[package]
authors = ["Erik Johnston <erikj@matrix.org>"]
name = "matrix-ircd"
version = "0.1.0"

[dependencies]
clap = "2.14.0"
failure = "0.1.1"
futures = "0.1.1"
lazy_static = "0.2.1"
native-tls = "0.1.1"
pest = "0.4.0"
rand = "0.3.14"
regex = "0.2.1"
slog = "2.0.0"
slog-async = "2.0.0"
slog-term = "2.0.0"
tokio-core = "0.1.0"
tokio-io = "0.1.3"
tokio-proto = "0.1.0"
tokio-tls = "0.1.1"

[dependencies.glitch-in-the-matrix]
branch = "develop"
git = "https://github.com/eeeeeta/glitch-in-the-matrix"

[dependencies.openssl]
version = "0.9.0"

[dependencies.tasked-futures]
git = "https://github.com/erikjohnston/tasked-futures.git"
optional = false

[dependencies.tokio-timer]
git = "https://github.com/tokio-rs/tokio-timer"

[features]
clippy = []
default = []
trace_logging = ["slog/max_level_trace", "slog/release_max_level_warn"]
